<div class="w-100 text-center position-relative mt-4 pb-3 border-bottom border-dark">
  <a class="navbar-brand" href="#"><img class="w-100" src="image/logo-black.jpg"></a>
  <div class="position-absolute box_right_header">
    <select class="form-control p-0" id="lang">
      <option>Tiếng Việt</option>
      <option>Tiếng Anh</option>
    </select>
    <button class="button_order">ĐẶT PHÒNG</button>
  </div>
</div>
<div class="container">
  <nav class="navbar navbar-expand-sm">
    <!-- menu -->
    <ul class="navbar-nav ul_menu">
      <li class="nav-item">
        <a class="nav-link nav-custom" href="#">Phòng nghỉ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-custom" href="#">Ẩm thực</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-custom" href="#">Hội nghị & sự kiện</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-custom" href="#">Trải nghiệm</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-custom" href="#">Khám phá quy nhơn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-custom" href="#">Ưu đãi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-custom" href="#">Thư viện</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-custom" href="#">Liên hệ</a>
      </li>
    </ul>
  </nav>
</div>
